body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
}

header > * {
    margin-right: 5px;
}

main {
    display: flex;
    flex-direction: row;
}

.holder {
    height: 100px;
    border: 3px solid black;
    margin: 2px;
    display: flex;
    flex-direction: row;
}

#runes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-right: 4px solid black;
    flex: 1;
    height: 100%;
}

#paragraphs {
    flex: 1;
    padding: 4px;
}

.image {
    max-height: 100%;
}

.inputTest {
    font-size: large;
    width: 40px;
}

.info {
    display: flex;
    flex-direction: column;
}

.span {
    height: 28px;
    display: inline-block;
    padding: 1px;
}

.paragraph {
    font-size: large;
}

span.highlight {
    font-weight: bold;
    text-decoration: underline;
}

.highlight > img, img.highlight {
    filter: brightness(1.50);
    border: 2px solid black;
}